.grid-container {
  display: grid;
  background-color: cornsilk;
  grid-template-columns:
    "header header header"
    "menu main aside"
    "footer footer footer";
}

.grid-container div {
  background-color: crimson;
  text-align: center;
  color: white;
  border: 1px solid black;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: aside;
}

.item5 {
  grid-area: footer;
}
